@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@layer base {
  :root {
    --veryDark: 238deg 29% 17%;
    --softRed: 14deg 88% 65%;
    --bgPurple: 273deg 75% 66%;
    --bgBlue: 240deg 73% 65%;
    --darkGrayishBlue: 237deg 12% 33%;
    --darkGrayish: 240deg 6% 50%;
    --divider: 240deg 5% 91%;
  }

  html {
    font-family: "Kumbh Sans", sans-serif;
  }
}
